* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.memory__game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
}

.memory__card {
    width: (25% - 10px);
    height: 33.333%;
    margin: 5px;
    position: relative;
    border: 2px solid white;
    transform: scale(1);
}

.memory__card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.front-face,
.back-face {
   /* width: 100%;
    height: 100%; */
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    border: 2px solid green;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg,  orange 0%,black 30%, navy 70%, #264ebd 100%);
    font-family: 'warcraft';
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    color: orange;
    text-shadow: 4px 4px black;
}


p {
    font-size: 55px;
    position: absolute;
    top: 0;
    color: orange;
    text-shadow: 3px 3px black;
    margin-top: auto;
    left: 350px;
}

img {
    
}
